<div class="flex items-center justify-center h-screen bg-gray-950">
    <div class="w-full max-w-md">
        <div class="bg-gray-95 border border-white rounded-lg shadow-md px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-white text-sm font-bold mb-2" for="username">
                    Username
                </label>
                <input [(ngModel)]="username"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Enter your username">
            </div>
            <div class="mb-6">
                <label class="block text-white text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input [(ngModel)]="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="**********">
            </div>
            <div class="flex items-center justify-between">
                <button (click)="login()" class="bg-cyan-700 hover:bg-cyan-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                    Log In
                </button>
            </div>
        </div>
        <p class="text-center text-gray-500 text-xs">
            &copy; 2023 Jocarosa Arithmetic Calculator. All rights reserved.
        </p>
    </div>
</div>
