@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Digital;
  src: url(/assets/fonts/Digital7-rg1mL.ttf) format("truetype");
}

.font-digital {
  font-family: Digital, mono;
}
