<table class="table-auto w-full">
  <thead>
  <tr>
    <th class="border-b px-4 py-2">Operation</th>
    <th class="border-b px-4 py-2">Cost</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="px-4 py-2">Addition</td>
    <td class="px-4 py-2">$10</td>
  </tr>
  <tr>
    <td class="px-4 py-2">Subtraction</td>
    <td class="px-4 py-2">$20</td>
  </tr>
  <tr>
    <td class="px-4 py-2">Multiplication</td>
    <td class="px-4 py-2">$30</td>
  </tr>
  <tr>
    <td class="px-4 py-2">Division</td>
    <td class="px-4 py-2">$40</td>
  </tr>
  <tr>
    <td class="px-4 py-2">Square Root (Sq)</td>
    <td class="px-4 py-2">$50</td>
  </tr>
  <tr>
    <td class="px-4 py-2">Random String (RS)</td>
    <td class="px-4 py-2">$60</td>
  </tr>
  </tbody>
</table>
